:root {
  --White: #ffffff;
  --Black: #000000;
  --DarkGray: #8c8c8c;
  --VeryDarkGray: #696969;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 15px;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Alata', sans-serif;
  /* line-height: 1; */
}

.container {
  background-image: url(./images/desktop/image-hero.jpg);
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: 50% -2%;
  /* height: 100%; */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
header {
  grid-column: 2 / 12;
  padding: 2rem 0rem 0 0rem;
  /* border: 1px solid var(--White); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.big-menu {
  display: none;
}
.logo img {
  width: 10rem;
}
.hero {
  grid-column: 2 / 12;
  padding: 5rem 0rem 8rem 0rem;
}
.hero-text {
  border: 2px solid var(--White);
  padding: 1.5rem;
  /* letter-spacing: 0.1em; */
  /* background-color: aquamarine; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.hero-text p {
  color: var(--White);
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2.2em;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  /* letter-spacing: 0.5rem; */
}
.interactive {
  grid-column: 2 / 12;
  /* background-color: var(--White); */
  /* padding: 2rem; */
  /* padding-top: 2rem; */
  margin-top: 10em;
  /* border: 2px solid red; */
}
.interactive-img {
  /* background-color: #ffffff; */
  /* z-index: 10; */
  background-image: url(./images/desktop/image-interactive.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* width: 100%; */
  height: 15em;
  /* margin-top: 3rem; */
  /* grid-column: 2/12; */
  /* margin: 2em; */
}
.interactive-text {
  margin-top: 2rem;
}
.interactive-text .title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2em;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.3em;
  text-align: center;
  letter-spacing: 0.1em;
  margin-bottom: 1rem;
}
.interactive-text .body-text {
  color: var(--DarkGray);
  text-align: center;
  line-height: 1.8em;
}
.our-creations {
  /* border: 1px solid var(--Black); */
  grid-column: 2 / 12;
  /* background-color: var(--White); */
  /* padding: 2rem; */
  margin-top: 2rem;
}
.our-creations-text {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid green; */
  margin-bottom: 3rem;
}
.our-creations-text p {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2em;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.3em;
  text-align: center;
  letter-spacing: 0.1em;
  /* margin-bottom: 1rem; */
  /* border: 1px solid red; */
}
.big-see-all-btn {
  display: none;
}

.image {
  height: 9rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 40%;
  margin-bottom: 2rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

#deep-earth {
  background-image: url(./images/desktop/image-deep-earth.jpg);
}
#night-arcade {
  background-image: url(./images/desktop/image-night-arcade.jpg);
}
#soccer-team-vr {
  background-image: url(./images/desktop/image-soccer-team.jpg);
}
#the-grid {
  background-image: url(./images/desktop/image-grid.jpg);
}
#from-up-over-vr {
  background-image: url(./images/desktop/image-from-above.jpg);
}
#pocket-borealis {
  background-image: url(./images/desktop/image-pocket-borealis.jpg);
}
#the-curiosity {
  background-image: url(./images/desktop/image-curiosity.jpg);
}
#make-it-fisheye {
  background-image: url(./images/desktop/image-fisheye.jpg);
}
.footer {
  grid-column: 1 /-1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: var(--Black);
}
.footer-logo-nav {
  /* border: 1px solid aquamarine; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer-logo-nav .logo {
  margin-bottom: 2rem;
}
.footer-logo-nav nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* border: 1px solid var(--White); */
}
.footer-logo-nav nav a {
  color: var(--White);
  text-decoration: none;
  padding: 1rem;
}

.footer-socials-copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 1.5rem; */
}
.socials {
  /* border: 1px  solid aquamarine; */
  /* width: auto; */
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}
.socials img {
  width: 1rem;
  margin: 0 1rem;
}
.copyright {
  /* border: 1px solid var(--White); */
  width: 100%;
}
.copyright p {
  color: var(--VeryDarkGray);
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.1em;
}
.our-creations {
  margin-bottom: 4em;
}
.our-creation-images {
  /* margin-top: 1rem; */
}
.image p {
  text-transform: uppercase;
  /* border: 1px solid white; */
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.5em;
  font-size: 1.2em;
  font-weight: bold;
  color: var(--White);
  padding: 1rem;
}
.see-all-btn-small-screen {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.small-see-all-btn {
  transition: 300ms ease-in-out;
  padding: 1em 3em;
  font-size: 1em;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bolder;
  background-color: transparent;
  border: 2px SOLID var(--Black);
}
.small-see-all-btn:hover {
  background-color: var(--Black);
  color: var(--White);
}

/* BEFORE MEDIUM SCREENS */

@media only screen and (min-width: 550px) {
  .hero {
    grid-column: 2 /10;
    /* padding: 5rem 2rem 8rem 2rem; */
    /* background-color: #000; */
  }
  .our-creation-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image {
    flex: 50%;
    max-width: 48%;
    margin: 0.5%;
  }
}

/* MEDIUM SCREENS  */

@media only screen and (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  header {
    grid-column: 2 / 12;
    padding: 2rem 0rem 2rem 0rem;
    /* border: 1px solid orange; */
  }
  .small-menu {
    display: none;
  }
  .big-menu {
    display: block;
  }

  .big-menu nav a {
    color: var(--White);
    text-decoration: none;
    margin-left: 2rem;
  }
  header .logo img {
    width: 7rem;
  }
  .hero {
    grid-column: 2 /10;
  }
  .interactive {
    grid-column: 2 / 12;
    padding: 0;
    margin-bottom: 1rem;
  }
  .interactive-img {
    height: 17rem;
  }
  .our-creations {
    grid-column: 2 / 12;
    padding: 0;
    margin-top: 2rem;
    /* margin-bottom: 10rem; */
  }

  .image {
    height: 13rem;
  }
  .see-all-btn-small-screen {
    margin-top: 2rem;
  }
  
  .footer-logo-nav nav {
    flex-direction: row;
  }
  .footer-logo-nav .logo {
    margin: 0;
  }
  .socials {
    width: auto;
    justify-content: space-around;
    padding: 0.5rem 1.5rem;
    /* background-color: #696969; */
  }
  .socials img {
    margin: 0.5rem;
    width: 1.5rem;
    margin: 0 1.2rem;
  }
}

@media only screen and (min-width: 1024px) {
  /* 1. REDUCE HERO-TEXT MARGIN WIDTH */
  /* 2. CUT THE PICTURES DIV INTO 4 PARTS */

  .hero {
    grid-column: 2 / 8;
    /* padding: 3rem 0rem 0rem 0rem; */
    /* margin-bottom: 10rem; */
  }
  .hero-text {
    padding: 0.5rem;
    
  }
  .interactive{
      grid-column: 2 / 12;
      display: flex;
      position: relative;
  }
  .interactive-img{
      /* margin-top: 6rem; */
      width: 60%;
      /* border: 1px solid red; */
      height: 22rem;
  }
  .interactive-text {
      width: 60%;
      /* border: 1px solid green; */
      padding-bottom: 0;
      /* z-index: 10; */
      position: absolute;
      right: 0;
      bottom: 0;
      background-color: var(--White);
      padding: 3rem 0 0 3rem;
      justify-content: flex-start;
  }
  .interactive-text .title {
    text-align: left;
  } 
  .interactive-text .body-text {
    text-align: left;
  }
  .our-creation-images {
    /* background-color: green; */
  }
  .image {
    flex: 24%;
    /* max-width: 30%; */
    margin: 0.5%;
    height: 20rem;
  }
  .our-creations-text {
    justify-content: space-between;
  }
  .small-see-all-btn {
    display: none;
  }
  .big-see-all-btn {
    display: block;
  }
  .big-see-all-btn {
  transition: 300ms ease-in-out;
  padding: 1em 3em;
  font-size: 1em;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bolder;
  background-color: transparent;
  border: 0;
  border: 2px SOLID var(--Black);
  cursor: pointer;
  /* margin-right: 0.3rem; */
  /* outline: none; */
}
.big-see-all-btn:hover {
  background-color: var(--Black);
  color: var(--White);
}
.footer {
  flex-direction: row;
  justify-content: space-between;
  /* grid-column: 2 / 12; */
  /* padding:  3rem; */
}
.footer-logo-nav {
  justify-content: flex-start;
  /* grid-column: 2 / 12; */
  padding-left: 3rem;
}
.footer-socials-copyright {
  padding-right: 3rem;
}
}
